.container {
  background: #fff;
  padding: 10px;
  width: calc(100% - 30px);
  max-width: 400px;
  height: min-content;
  overflow: scroll;
  max-height: 100%;
  z-index: 3;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.fullCardImage {
  margin: 20px auto;
  width: 215px;
  height: 159px;
  background-position: -26px -45px;
  background-repeat: no-repeat;
  background-size: 265px 370px;
  border-radius: 10px;
}

@media screen and (min-width: 601px) {
  .container {
    max-width: 580px;
  }

  .cardImage {
    width: 215px;
    height: 159px;
    background-position: -26px -45px;
    background-repeat: no-repeat;
    background-size: 265px 370px;
  }

  .fullCardImage {
    width: 264px;
    height: 370px;
    background-size: 264px 370px;
    background-position: 0;
    min-width: 274px;
    flex: 1 0 0;
  }

  div.content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .info {
    flex: 2 0 0;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal:after {
  content: "";
  background: #ccca;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paperclip {
  background: #e8e8e8;
  padding: 8px 30px;
  position: relative;
  margin-left: -29px;
  display: inline-block;
  border-radius: 0 6px 6px 0;
}

.paperclip:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  background-color: #0000;
  border-color: #0000;
  border-style: solid;
  border-width: 0 1.2em 1.2em 0;
  border-right-color: #cfd4d9;
  width: 0;
  height: 0;
}

.btn-close {
  background: #fff;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.link-close {
  text-decoration: none;
  color: #db2828;
  font-weight: bold;
  transition: 200ms transform;
}

.link-close:hover {
  transform: scale(1.2);
}

.content {
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
