.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  height: 100%;
}

.card-container {
  background: #fff;
  border: 1px solid #ccc;
  width: 100px;
  margin: 2px;
  padding: 2px;
  border-radius: 0.28571429rem;
  cursor: pointer;
}

.anchor {
  text-decoration: none;
  color: #333;
}

@media screen and (min-width: 601px) and (min-height: 601px) {
  .card-container {
    width: 215px !important;
    margin: 5px !important;
  }
}
