.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  height: 100%;
}

.card-container {
  background: #fff;
  border: 1px solid #ccc;
  width: 100px;
  margin: 2px;
  padding: 2px;
  border-radius: 0.28571429rem;
  cursor: pointer;
  transition: 250ms transform;
}

.anchor {
  text-decoration: none;
  color: #333;
}

@media screen and (min-width: 601px) and (min-height: 601px) {
  .card-container {
    width: 215px;
    margin: 8px;
  }

  .card-container:hover {
    border: 1px solid #555;
    transform: scale(1.05);
    box-shadow: 0 0 0 0.3rem #3331;
  }
}
